{% extends "base.html" %}
{% block title %}
Kliniğe Katıl
{% endblock %}
{% block body %}
{% load crispy_forms_tags %}
    <header class="container-fluid">
        <div class="container">
            <div class="row">
                <div class="col-md-6 m-auto">
                    <form method="POST" enctype="multipart/form-data">
                        <h3 class="text-center text-success">Register Form for Your Pet</h3>
                        {% csrf_token %}
                        {{form.media}}
                        {{form|crispy}}
                        <button type="submit" class="btn btn-success">Add your Pet</button>
                    </form>
                </div>
            </div>
        </div>
    </header>
{% endblock %}