{% extends "base.html" %}
{% block title %}
{% endblock %}
{% block body %}
    <header class="container-fluid">
        <div class="container">
            <div class="card">
                <div class="card-header text-center">
                    <div class="row">
                        <div class="col-md-9 col-lg-10">
                            <h2 class="text-center text-muted">Pet'S Identity Card</h2>
                        </div>
                        <div class="col-md-3 col-lg-2">
                            {% if pet.image %}
                                <img src="{{pet.image.url}}" class="img-fluid rounded-circle">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                        <h3 class="text-danger">Petowner's card</h3>
                        <p><mark>Name and Surname</mark> : {{pet.petowner.first_name}} {{pet.petowner.last_name}}</p>
                        <p><mark>Username</mark> : {{pet.petowner}}</p>
                        <p><mark>E-mail</mark> : {{pet.petowner.email}}</p>
                        <p><mark>Tel</mark> : {{petowner.tel}}</p>
                        <p><mark>Address</mark> : {{petowner.addres}}</p>
                        <h3 class="text-danger">Pet's card</h3>
                        <p><mark>Name</mark> : {{pet.name}}</p>
                        <p><mark>Type</mark> : {{pet.type}}</p>
                        <p><mark>Genius</mark> : {{pet.genius}}</p>
                        <p><mark>Age</mark> : {{pet.age}}</p>
                </div>
                <div class="card-footer">
                    <div class="row">
                        <div class="col-12">
                            <h5><mark>Epxlanation</mark> : {{pet.explanation}}</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-8">
                    <a class="btn btn-success d-block w-100" href="/pet/update/{{pet.id}}">Update</a>
                </div>
                <div class="col-4">
                    <a class="btn btn-danger d-block w-100" href="/pet/delete/{{pet.id}}">Delete</a>
                </div>
            </div>
        </div>
    </header>
{% endblock %}