{% extends "base.html" %}
{% block title %}
    Sign In
{% endblock %}
{% block body %}
{% load crispy_forms_tags %}
    <div class="container login">
        <div class="row">
            <div class="col-12 p-5">
                <h1 class="text-success text-center">Login Form</h1>
                <form method="POST">
                    {% csrf_token %}
                    {{form|crispy}}
                    <button type="submit" class="btn btn btn-success d-block w-100">Sign In</button>
                </form>
                <p class="text-center mt-2"><mark>if you haven't got an account,you can register <a href="{% url 'user:register' %}">here</a></mark></p>
            </div>
        </div>
    </div>
{% endblock %}