{% extends "base.html" %}
{% block title %}
Clinic Page for SuperUser
{% endblock %}
{% block body %}
    <header class="container-fluid mt-1">
        <div class="row">
            <div class="col-md-6 col-lg-4 m-auto">
                <p class="text-center"><mark>Only superuser can see this page.Hi superuser!</mark></p>
                <form method="GET">
                    <p class="text-center">You can search by the name of the pet.</p>
                    {% for field in form %}
                        {{field}}
                    {% endfor %}
                    <button type="submit" class="btn btn-dark d-block w-100">Search</button>
                </form>
            </div>
        </div>
    </header>
    <section class="container-fluid">
        <h2 class="text-center text-muted">All Pets in Clinic</h2>
        <div class="container">
            <div class="row">
                {% for pet in pets %}
                    <div class="col-md-6 col-lg-4">
                         <div class="card shadow-lg my-2">
                            <div class="card-header">
                                <h5 class="text-right"><i class="bi bi-file-earmark-person"></i>{{pet.petowner.first_name}} {{pet.petowner.last_name}}</h5>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-8 text-center">
                                        <h4>{{pet.name}}</h4>
                                        <p>Type: {{pet.type}}</p>
                                        <p>Genius: {{pet.genius}}</p>
                                        <p>Age: {{pet.age}}</p>
                                    </div>
                                    {% if pet.image %}
                                    <div class="col-md-4">
                                        <img src="{{pet.image.url}}" class="img-fluid">
                                    </div>
                                    {% endif %}
                                    <a class="btn btn-success d-block w-100 mr-auto" href="/pet/detail/{{pet.id}}">Edit Pet's Card</a>
                                </div>
                            </div>
                         </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% if meetings %}
    <section class="container">
        <h3 class="text-center text-success">{{today}}</h3>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Petowner</th>
                        <th scope="col">Pet</th>
                        <th scope="col">Appointment Day</th>
                        <th scope="col">Appointment Hour</th>
                    </tr>
                </thead>
                <tbody>
                    {% for meeting in meetings %}
                        <tr>
                            <td>{{meeting.user.first_name}} {{meeting.user.last_name}}</td>
                            <td>{{meeting.pet.name}}</td>
                            <td>{{meeting.meeting_date}}</td>
                            <td>{{meeting.meeting_hour}}:00</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </section>
    {% endif %}
{% endblock %}